body{
    /* background:linear-gradient(to bottom right, rgba(0,0,0,255),#324554,#667eea 90%); */
    background-image: url(../images/test2.jpeg);
    background-blend-mode: overlay;
    background: linear-gradient(rgba(0, 102, 255, 0.5), rgba(0, 102, 255, 0.5)),url(../images/test2.jpeg);
    background-size: cover;
    background-position: top;
    backdrop-filter: blur(2px);
    /* backdrop-filter: hue-rotate(180deg) saturate(1.2) brightness(0.7); */
}
.create{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(219, 215, 215); */
    background-color: #dbe7ff;
    opacity: 0.7;
    /* background-color: rgba(255, 255, 255, 0.1); */
   /* border: 1px solid rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
  box-shadow: 1px 1px 2px  20px #dbe7ff;
    width: 40%;
    margin-left:30%;
    margin-top: 3rem;
    /* border-radius: 18px; */
    padding: 20px;
    /* color: #1a2d50; */
    
}
.heading{
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
    color: #0c1f4a;
}
form label {
    font-size: 30px;
    line-height: 2.5rem;
}
/* form p:nth-of-type(2) label{
    margin-bottom: 2rem;
} */
form input{
    padding: 10px 12px;
    font-size: 24px;
    margin-bottom: 3rem;
    border-radius: 20px;
    border: none;
}
form textarea{
    font-size: 22px;
    height: 200px;
    width:60%;
    margin-left: 2rem;
    padding: 10px 12px;
    border-radius: 20px;
    border: none;
    vertical-align: top;
}
form button{
    padding: 12px 10px;
    border-radius: 10px;
    border: none;
    margin-left: 45%;
    background: linear-gradient(90deg, #62aff2, #0c1f4a);
    color: #fff;
    font-size: 20px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
/* form button::after{
    background: linear-gradient(90deg, #0c1f4a, #62aff2);
    scale: 1.05;
} */
 button::after {
    transform: scale(0.95);
    /* background-color: #0077cc; */
    /* box-shadow: 0 0 10px #00cfff; */
    background: linear-gradient(90deg, #0c1f4a, #62aff2);

}